@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
  color: white;
}

@layer utilities {
  .light-border {
    @apply border-b-[.5px]  border-dark600;
  }

  .logo-icon-text {
    @apply text-[35px] font-bold text-textSecondary;
  }

  .transition-ease {
    @apply transition duration-300 ease-in-out;
  }

  .button-bg-hover {
    @apply bg-dark700 transition-ease hover:bg-gray100;
  }
}

/* Scrollbar */

*::-webkit-scrollbar {
  width: 5px;
  height: 3px;
  border-radius: 2px;
}

*::-webkit-scrollbar-track {
  background: #12141d;
}

*::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #555;
}
